.DS_Store
.env
.env.*
!.env.example
.next/
.netlify/
deno.lock
.next-release-*/
next-env.d.ts
.turbo/
.artifacts/
.clockwork-archives/
coverage/
dist/
node_modules/
playwright-report/
test-results/
storybook-static/
supabase/.branches/
supabase/.temp/
*.tsbuildinfo
